.personal-information {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0 20px;
    background-color: rgb(245, 245, 245);
    padding: 8px;
    border-radius: 10px;
}

.measure-number {
    font-size: 25px;
    font-weight: 600;
}

.kg-yrs {
    margin-left: -5px;
}