.exercise {
    width: 280px;
    height: 350px;
    border: 1px solid #95A0A7;
    position: relative;
}


.exercise-img {
    height: 130px;
    width: 250px;
    border-radius: 10px;
    margin: 7px;
}

.btn-exercise {
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}